.slide-out {
    animation: slideOut 0.5s forwards;
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-out-reverse {
    animation: slideOutReverse 0.5s forwards;
}

@keyframes slideOutReverse {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-in-reverse {
    animation: slideInReverse 0.5s forwards;
}

@keyframes slideInReverse {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
